.main{margin-bottom: 50px;}
.main li{float: left;width:236px;height:212px;position: relative;margin: 55px 24px 0 0;}
.main img{width:236px;height:212px;}
.main li .text{position: absolute;left:0;bottom: 0;bottom:0;width:236px;height:36px;font:16px/36px "微软雅黑";color:#fff;text-align: center;background: rgba(150,10,10,0.5);}
.main li:hover{box-shadow: 0px 0px 3px 3px #e80028;behavior:url(ie-css3.htc);}
