
.right .content{width: 760px;}
.right .content h3{font: 22px/22px "微软雅黑";color: #383431;margin-top: 50px;}
.right .content h3 span{color: #c31a18;}
.right .content p{font: 20px/32px "微软雅黑";color: #524b46;margin-top: 20px;}
.company_introduction{text-indent: 2em;}
.right .content .last h3{float: left;}
.right .content .last p{float: left;margin-top: 44px;}
.right .content img{margin-top: 46px;}
